@media screen and (max-width: 1444px) {
    #desktop-nav {
        margin: 2rem;
        padding: 0;
        height: 5rem;
    }

    #profile {
        height: 30rem;
        margin: 0;
        padding: 0;
    }

    .section-container {
        height: 25rem;
        margin: 0;
        padding: 0;
    }

    .section-container p {
        text-align: center;
    }

    #about {
        height: auto;
    }

    #experience {
        height: auto;
    }

    #projects {
        height: auto;
        padding: 1rem 3rem 3rem 3rem;
        margin: 1rem 3rem 3rem 1rem;
    }

    div.details-container.color-container {
        width: 10rem;
    }

    #contact {
        height: auto;
        margin: 0;
        padding: 0;
    }

    #footer {
        height: auto;
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        margin: 0rem;
        padding: 1rem;
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }

    #profile {
        display: flex;
        flex-direction: column;
        height: 35rem;
        padding: 0;
        margin: 0;
    }

    div.section__text {
        margin: -100px 0px 0px 0px;
    }

    .section-container {
        height: 25rem;
        margin: 0;
        padding: 0;
    }

    .section-container p {
        text-align: center;
    }

    #about {
        height: auto;
        margin: 6rem 0rem 0rem 0rem;
    }

    #experience {
        height: auto;
    }

    #projects {
        width: 70rem;
        height: auto;
        padding: 2rem;
        margin: 3rem;
    }

    div.details-container.color-container {
        width: 10rem;
    }

    #contact {
        height: auto;
        margin: 0;
        padding: 0;
    }

    #footer {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .arrow {
        display: none;
    }

    .section__pic-container {
        margin: auto;
    }



}

@media screen and (max-width: 1120px) {


    #projects {
        width: 60rem;
        margin: auto;
        height: auto;
    }

    div.details-container.color-container {
        width: 9rem;
    }

    h2.experience-sub-title.project-title {
        font-size: 20px
    }


    html {
        height: 100rem;
    }


}

@media screen and (max-width: 900px) {


    #projects {
        width: 50rem;
    }

    div.details-container.color-container {
        width: 6rem;
    }

    h2.experience-sub-title.project-title {
        font-size: 15px
    }
}

@media screen and (max-width:700px) {
    #experience {
        width: 40rem;
        margin: auto;
    }

    #projects {
        width: 90vw;
    }

    div.details-container.color-container {
        max-width: 8rem;
    }
}


@media screen and (max-width: 600px) {

    section#profile {
        height: 40rem;
    }

    section#experience {
        padding: 1rem;
        width: 30rem;
        margin: auto;
    }

    div.section__pic-container {
        width: 100%;
        margin: auto;
    }



    #projects {
        width: fit-content;
        padding: 1rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.details-container.color-container {
        max-width: 15rem;
        max-height: 25rem;
        font-weight: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .project-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
    }



    #contact {
        height: 30rem;
        margin-top: -180rem;
        margin-left: 7rem;
        /* Add margin for spacing */
    }

    footer {
        margin-top: -180rem;
        margin-left: 5rem;
        height: 10rem;
        /* Add margin for spacing */
    }

    ul.nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    html {
        height: 100rem;
    }

    #profile {
        width: auto;
        height: 123vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: 100%;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    #contact {
        position: absolute;
        top: 390rem;
        left: 3rem;
    }

    footer {
        position: absolute;
        top: 420rem;
    }

    html {
        height: 100rem;
    }
}

@media screen and (max-width:500px) {
    #about {
        margin: 1rem auto;
        padding: 0;
        height: 40rem;
        width: auto;
    }

    section#experience {
        margin: auto;
        padding: 1rem;
        width: 25rem;
    }

    .section-container {
        margin-top: 4rem;
    }

    div.details-container.color-container {
        min-width: 7rem;
    }

    #contact {
        margin: -140rem auto;
        padding: 0;
    }

    footer {
        margin: -145rem auto;
        padding: 0;
    }
}